<ion-app>
  <ion-split-pane>
    <ion-menu class="bgMenu">
      <ion-header>
        <ion-toolbar color="light" class="user-profile">

          <ion-item margin-bottom>
      
            <ion-label>
              <ion-text color="tertiary">
                <h1><strong>poom</strong></h1>
              </ion-text>
              <ion-text color="tertiary">
                
              </ion-text>
              <ion-menu-toggle class="mto" auto-hide="false">
                <a class="text08" tappable (click)="goToEditProgile()">
                  <!-- <ion-text color="medium">
                    <ion-icon name="contact"></ion-icon>
                    <strong>edit profile</strong>
                  </ion-text> -->
                </a> <ion-text color="tertiary"> | </ion-text> 
                <a class="text08" tappable (click)="logout()">
                  <ion-text color="tertiary">
                    <ion-icon name="log-out"></ion-icon>
                    <strong>logout</strong>
                  </ion-text>
                </a>
              </ion-menu-toggle>
            </ion-label>
          </ion-item>

        </ion-toolbar>
      </ion-header>

      <ion-content class="bg-profile">
          <ion-router-outlet main (activate)="!!$event.homeWillEnter ? $event.homeWillEnter() : undefined"></ion-router-outlet>
        <ion-list>
          <ion-list-header color="light">
            <ion-label>Menu</ion-label><h3 class="statusServer">
              Status: <ion-label *ngIf="checkStatus==true"class="colorServer"> <ion-icon name="wifi"></ion-icon> {{status}} </ion-label>
              <ion-label *ngIf="checkStatus==false" class="colorServerD"> <ion-icon name="wifi"></ion-icon> {{status}} </ion-label>
            </h3>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]" color="primary">
              <ion-icon slot="start" [name]="p.icon" color="tertiary"></ion-icon>
              <ion-label class="label">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
