
  ion-content {
  
         
    }
  .gridhome{
    margin-bottom: auto;
    padding-bottom: 300px;
    padding-left: 130px;
    padding-right:160px;
    background: rgba(203, 203, 210, 0.15)
}
.IN{
    font-size: 220%
}
.nIN{
    margin: 0;
    color: #333333;
    text-align: right;
    font-size: 220%
    
    
}
.image{
    width: 30%;
    height: 30%;
}
.line {
    background-color: white

}
.boderH{
    border-top:1px solid rgba(0,0,0,.1);
}
.tHead{
    text-align: right;
    font-size: 120%;
    font-weight: 400;
    color: #9A9A9A;

}
.buttons {
    position:fixed;
            right: 30px;
            bottom: 30px
}
.flex {
    display: flex;
  }
  
  .flex-item {
    flex-basis: 100%;
  }
  
  tr.line-2 {
    color: red;
  }
  .fontCardHeader{
    border-color: black;
    color: black;
    font-weight: bold;
}
.fabB{
  
}